<!-- BEGIN 书籍预览 -->
<div class="page-content-inner">
    <div class="blog-page blog-content-1">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/page_general_search/1.jpg" />
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Metronic Blog Post</a>
                                </h2>
                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                <div class="blog-post-foot">
                                    <div class="blog-post-meta">
                                        <i class="icon-calendar font-blue"></i>
                                        <a href="javascript:;">Oct 24, 2015</a>
                                    </div>
                                    <div class="blog-post-meta">
                                        <i class="icon-bubble font-blue"></i>
                                        <a href="javascript:;">14 Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/page_general_search/1.jpg" />
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Metronic Blog Post</a>
                                </h2>
                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                <div class="blog-post-foot">
                                    <div class="blog-post-meta">
                                        <i class="icon-calendar font-blue"></i>
                                        <a href="javascript:;">Oct 24, 2015</a>
                                    </div>
                                    <div class="blog-post-meta">
                                        <i class="icon-bubble font-blue"></i>
                                        <a href="javascript:;">14 Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/page_general_search/1.jpg" />
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Metronic Blog Post</a>
                                </h2>
                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                <div class="blog-post-foot">
                                    <div class="blog-post-meta">
                                        <i class="icon-calendar font-blue"></i>
                                        <a href="javascript:;">Oct 24, 2015</a>
                                    </div>
                                    <div class="blog-post-meta">
                                        <i class="icon-bubble font-blue"></i>
                                        <a href="javascript:;">14 Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/page_general_search/02.jpg" />
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Metronic Blog Post</a>
                                </h2>
                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                <div class="blog-post-foot">
                                    <div class="blog-post-meta">
                                        <i class="icon-calendar font-blue"></i>
                                        <a href="javascript:;">Oct 24, 2015</a>
                                    </div>
                                    <div class="blog-post-meta">
                                        <i class="icon-bubble font-blue"></i>
                                        <a href="javascript:;">14 Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/page_general_search/2.jpg" />
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Metronic Blog Post</a>
                                </h2>
                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                <div class="blog-post-foot">
                                    <div class="blog-post-meta">
                                        <i class="icon-calendar font-blue"></i>
                                        <a href="javascript:;">Oct 24, 2015</a>
                                    </div>
                                    <div class="blog-post-meta">
                                        <i class="icon-bubble font-blue"></i>
                                        <a href="javascript:;">14 Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/page_general_search/03.jpg" />
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Metronic Blog Post</a>
                                </h2>
                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                <div class="blog-post-foot">
                                    <div class="blog-post-meta">
                                        <i class="icon-calendar font-blue"></i>
                                        <a href="javascript:;">Oct 24, 2015</a>
                                    </div>
                                    <div class="blog-post-meta">
                                        <i class="icon-bubble font-blue"></i>
                                        <a href="javascript:;">14 Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/page_general_search/2.jpg" />
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Metronic Blog Post</a>
                                </h2>
                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                <div class="blog-post-foot">
                                    <div class="blog-post-meta">
                                        <i class="icon-calendar font-blue"></i>
                                        <a href="javascript:;">Oct 24, 2015</a>
                                    </div>
                                    <div class="blog-post-meta">
                                        <i class="icon-bubble font-blue"></i>
                                        <a href="javascript:;">14 Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/page_general_search/03.jpg" />
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Metronic Blog Post</a>
                                </h2>
                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                <div class="blog-post-foot">
                                    <div class="blog-post-meta">
                                        <i class="icon-calendar font-blue"></i>
                                        <a href="javascript:;">Oct 24, 2015</a>
                                    </div>
                                    <div class="blog-post-meta">
                                        <i class="icon-bubble font-blue"></i>
                                        <a href="javascript:;">14 Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END 书籍预览 -->