<!-- BEGIN 书籍章节内容 -->
<div class="page-content-inner" ng-controller="BookDirectoryController">
    <div class="blog-page blog-content-2">
        <div class="row">
            <div class="col-lg-9">
                <div ui-view class="blog-single-content bordered blog-container fade-in-up">

                </div>
            </div>
            <div class="col-lg-3">
                <div class="blog-single-sidebar bordered blog-container">
                    <div class="blog-single-sidebar-search">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control" placeholder="Search Blog"> </div>
                    </div>
                    <div class="blog-single-sidebar-recent">
                        <h3 class="blog-sidebar-title uppercase">Recent Posts</h3>
                        <ul>
                            <li>
                                <a href="javascript:;">Metronic Admin Progress</a>
                            </li>
                            <li>
                                <a href="javascript:;">New UI Features</a>
                            </li>
                            <li>
                                <a href="javascript:;">Lorem Ipsum Dolore Amet</a>
                            </li>
                            <li>
                                <a href="javascript:;">Userfull Pages Released</a>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-single-sidebar-tags">
                        <h3 class="blog-sidebar-title uppercase">Tags</h3>
                        <ul class="blog-post-tags">
                            <li class="uppercase">
                                <a href="javascript:;">Bootstrap</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">Sass</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">HTML</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">CSS</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">Gulp</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">Framework</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">Admin Theme</a>
                            </li>
                            <li class="uppercase">
                                <a href="javascript:;">UI Features</a>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-single-sidebar-links">
                        <h3 class="blog-sidebar-title uppercase">Useful Links</h3>
                        <ul>
                            <li>
                                <a href="javascript:;">Lorem Ipsum </a>
                            </li>
                            <li>
                                <a href="javascript:;">Dolore Amet</a>
                            </li>
                            <li>
                                <a href="javascript:;">Metronic Database</a>
                            </li>
                            <li>
                                <a href="javascript:;">UI Features</a>
                            </li>
                            <li>
                                <a href="javascript:;">Advanced Forms</a>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-single-sidebar-ui">
                        <h3 class="blog-sidebar-title uppercase">UI Examples</h3>
                        <div class="row ui-margin">
                            <div class="col-xs-4 ui-padding">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/background/1.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-4 ui-padding">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/background/37.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-4 ui-padding">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/background/57.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-4 ui-padding">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/background/53.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-4 ui-padding">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/background/59.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-4 ui-padding">
                                <a href="javascript:;">
                                    <img src="../assets/pages/img/background/42.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END 书籍章节内容 -->